<header>
  <h1><%= title %> (<a href="http://wdim493j.herokuapp.com/week4/#13">ref</a>)</h1>
  <p>Welcome to <a href="http://github.com/ngoldman/middlewareathon">ngoldman</a>'s <%= title %>.</p>
</header>

<h3>Middleware:</h3>

<ul>
  <li>
    <a href="http://www.senchalabs.org/connect/cookieParser.html">connect.cookieParser</a>
    <p>Now parsing this cookie.</p>
  </li>
  <li>
    <a href="http://www.senchalabs.org/connect/session.html">connect.session</a>

    <h2>Cookie Demo</h2>

    <p>Views since last active cookie: <%= views %></p>
    <p id="expires">Cookie expires in: <span>23</span> seconds</p>
    <p>Last countdown: <%= expires %> seconds</p>
    <p>Refresh for more!</p>
  </li>
  <li>
    <a href="http://www.senchalabs.org/connect/favicon.html">connect.favicon</a>
    <p>favicon should look like this:</p>
    <p><img src="/favicon.ico"></p>
  </li>
  <li>
    <a href="http://www.senchalabs.org/connect/staticCache.html">connect.staticCache</a>

    <p>All static assets are cached, yo.</p>
  </li>
  <li>
    <a href="https://github.com/publicclass/express-partials">express-partials</a>
    <p>This page has a layout!</p>
  </li>
  <li>
    <a href="https://github.com/emberfeather/less.js-middleware">connect-assets</a>
    <p>JS &amp; CSS: minified &amp; concatenated.</p>
  </li>
</ul>

<h3>Stacks on Stacks on Stacks:</h3>

<div class="relish" target="_blank"><img src="/images/stack.png" alt="teh stakc"></div>

<audio id="surf_rock" src="http://archive.org/download/SG101-2005_Mp3_Comp/32-Watery_Grave-Los_Cobras.mp3" preload="metadata" loop></audio>
