<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>

<div id="wrap">

<%- body %>

</div>

</body>
</html>
